@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  /* Dark mode */
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);

  /* Light mode */
  --Very-Dark-blue-text: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Tamanhos de fontes */
  --tamanho0: 12px;
  --tamanho1: 14px;
  --tamanho2: 16px;
  --tamanho3: 18px;
  --tamanho4: 24px;
}

/* ------------------------ */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* 
.container::after {
  content: '';
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.856);
  position: absolute;
  top: 0;
  left: 0;
} */

/* .modal {
  width: 500px;
  height: 300px;
  background: white;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 80px;
  height: 80px;
  margin-bottom: 48px;
  box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.041);
}

h1 {
  font-size: var(--tamanho4);
}

.dark_mode {
  font-size: var(--tamanho2);
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
}

/* ! Main -------------- */
main {
  /* max-width: 1280px; */
  width: 80%;
  padding: 0 80px;
}

.input_wrapper {
  margin: 48px 0;
}

/* input container ---- */

#search_input {
  width: 480px;
  height: 56px;
  padding: 19px 0 19.5px 32px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.096);
}

#region_filter {
  width: 200px;
  height: 56px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  padding-left: 24px;
}

.filter_container {
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 19.5px 0 24px; */
  font-size: var(--tamanho1);
  font-weight: 400;
  position: relative;
  box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.034);
  border-radius: 5px;
}

.filter_options_container {
  box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.13);
  position: absolute;
  width: 200px;
  top: 55px;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px 0 16px 24px;
  transition: all 0.8s;
  border-radius: 5px;
}

.filter_options_container.hidden {
  transform: translateY(-40px);
  opacity: 0;
}

.filter_option {
  font-size: 14px;
  transition: all 1s;
}

.filter_option:hover {
  color: black;
  font-weight: 700;
  transform: translateX(10px);
  transform: scale(1.1);
  cursor: pointer;
}

.filter_title_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19.5px 0 24px;
}

.output_container {
  max-width: 1380px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
}

.arrow_icon {
  transition: all 1s;
}

.arrow_icon.active {
  transform: rotate(180deg);
}

/* ! Country card ----- */

.country_card {
  min-width: 264px;
  height: 336px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.096);
  transition: all 0.5s;
  border-radius: 5px;
}

.country_card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 10px 10px 7px 2px rgba(0, 0, 0, 0.096);
}

.flag_container {
  width: 264px;
  height: 160px;
  background: rgba(214, 214, 214, 0.61);
  margin-bottom: 24px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.116);
  border-radius: 5px 5px 0 0;
}

.country_information {
  width: calc(264px - 48px);
  margin: 0 24px;
}

.country_name {
  margin-bottom: 16px;
  font-weight: 800;
}

span {
  font-weight: 600;
}

/* !media ----------------------------- */

@media (max-width: 1200px) {
  .input_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  #search_input {
    width: 80%;
    min-width: 260px;
  }

  .filter_option {
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  header {
    padding: 0 16px;
  }

  h1 {
    font-size: var(--tamanho1);
  }

  .dark_mode {
    font-size: var(--tamanho0);
  }

  main {
    padding: 0 16px;
  }

  .output_container {
    width: 264px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    margin: 0 auto;
  }

  /* Input ----- */
}
