@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

:root {
  /* Dark mode */
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);

  /* Light mode */
  --Very-Dark-blue-text: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/* ------------------------ */

.container {
  width: 375px;
  background: var(--Very-Dark-Blue);
  margin: 0 auto;
  outline: 4px solid red;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: var(--Dark-Blue);
}

h1 {
  font-size: 14px;
}

/* ! Main ------------------------ */

main {
  display: flex;
  flex-direction: column;
  background: var(--Very-Dark-Blue);
  min-height: 100vh;
}

/* Search ------ */

#search_input {
  width: 343px;
  height: 48px;
  background: var(--Dark-Blue);
  margin: 24px auto 40px auto;
  border: none;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding-left: 74px;
}

::placeholder {
  color: white;
}

/* Filter ------ */

.filter_container {
  width: 200px;
  height: 48px;
  margin-left: 16px;
  display: grid;
  place-content: center;
  margin: 0 0 32px 16px;
}

#region_filter {
  width: 155.75px;
  height: 20px;
  background: var(--Very-Dark-Blue);
  border: none;
}

select option {
  background: var(--Dark-Blue);
  border: none;
}

/* Output Container ----  */

/* .output_container {
  border: 1px solid red;
} */

.countrie_card {
  width: 264px;
  height: 336px;
  margin: 0 auto 40px auto;
  background: var(--Dark-Blue);
  border-radius: 0 0 5px 5px;
  position: relative;
}

.container_imagem {
  height: calc(336px / 2);
  /* background: red; */
  background-image: url('https://flagcdn.com/hu.svg');
  background-size: cover;
  background-position: center;
}

.detalhes_pais {
  padding: 24px 0 46px 24px;
}

.nome_pais {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.title {
  font-weight: 800;
}

.bandeira_pais {
  width: 100%;
}

/*! Editando o modal ------- */

.modal {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  background: var(--Very-Dark-Blue);
  transition: all 1s;
  border: 1px solid red;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* GoBack */

.goBack_btn {
  width: 104px;
  height: 32px;
  background: var(--Dark-Blue);
  border: none;
  margin: 40px 0 64px 28px;
  font-size: 14px;
}

/* Detalhes */

.container_pai_detalhes {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: left;
  padding: 0 0 68px 24px;
}

.detalhes_pais_selecionado p,
.detalhes_pais_selecionado_dois p {
  line-height: 32px;
}

.neighbors_container {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.neighbor {
  background: var(--Dark-Blue);
  width: 96px;
  height: 28px;
  font-size: 12px;
  display: grid;
  place-content: center;
}

.container_bandeira {
  width: 320px;
  height: 229px;
  border: 1px solid lightblue;
  margin: 0 0 44px 28px;
}
